.scroll-container {
    display: flex;
    overflow-x: scroll;
    height: 100vh;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    display: flex;
    width: 400vw;
}

.block {
    flex: 0 0 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: lightblue;
}

.block:nth-child(1) {
    background-color: white;
}
